.akCoffeeSlideshow {
  width: 100%;
  height: 100%;
  position: relative;
  .slidesWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    right: 15%;
    background-color: #bbb;
    overflow: hidden;
  }
  .slides {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
  }
  .slide {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    vertical-align: top;
    img {
      max-height: 100%;
      width: auto;
      display: block;
      margin: auto;
    }
  }
  .prevButton,
  .nextButton {
    width: 15%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #ccc;
    // don't select text when clicking slideshow buttons
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .prevButton {
    left: 0;
    right: auto;
  }
  .nextButton {
    left: auto;
    right: 0;
  }

  &.option-slideHorizontal {
    .slide {
      display: inline-block;
      position: static;
    }
  }
  &.option-slideVertical {
    .slides {
      top: 0;
      bottom: auto;
      left: 0;
      right: 0;
      height: 100%;
    }
    .slide {
      display: block;
      position: static;
    }
  }
  &.option-vertical {
    .slidesWrapper {
      top: 15%;
      bottom: 15%;
      left: 0;
      right: 0;
    }
    .prevButton,
    .nextButton {
      width: auto;
      height: 15%;
      left: 0;
      right: 0;
    }
    .prevButton {
      top: 0;
      bottom: auto;
    }
    .nextButton {
      top: auto;
      bottom: 0;
    }
  }
}