.akCoffeeSlideshow {
  width: 100%;
  height: 100%;
  position: relative;
  .slides {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    right: 15%;
    background-color: #bbb;
    .slide {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .prevButton,
  .nextButton {
    width: 15%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #ccc;
  }
  .prevButton {
    left: 0;
    right: auto;
  }
  .nextButton {
    left: auto;
    right: 0;
  }
}